# Ambiente virtual
venv/

# Pastas de ambientes/pacotes gerados automaticamente (não versionar)
ENTER/

# Arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo

# Variáveis de ambiente / segredos
.env

# Arquivos temporários
*.log
*.tmp
.DS_Store
